@import helpers/_variables
@import helpers/_mixins
@import helpers/_default
@import helpers/_normalize-7.0


.dl-page-nav__link
  display: block
  text-decoration: none
  color: black
  padding: 13px 30px
  width: 100%
  text-transform: none
  text-align: left
  margin-bottom: 4px
  border-radius: 3px
  font-size: 16px
  background-color: #fff
  

.dl-active
  background-color: #f3f3f3
  font-weight: 500

.dl-page-delivery
  margin: 50px auto 0
  padding: 0px 15px
  max-width: 1400px
  display: flex
  justify-content: space-between
  @media only screen and (max-width: 1024px)
     flex-direction: column
     padding: 0px
  
.dl-page-nav
  overflow: hidden
  flex-direction: column
  position: sticky
  top: 50px
  @media only screen and (max-width: 1024px)
    display: flex
    z-index: 2
    width: 100%
    flex-direction: row
    padding: 0px 0px

//--
.dl-page-nav ul
  list-style-type: none
  margin: 0px
  padding: 0px
  width: 100%
  @media only screen and (max-width: 1024px)
    display: flex

.dl-page-nav li
  @media only screen and (max-width: 1024px)
    width: inherit
//--

.dl-page-nav__link 
  padding: 13px 30px 
  width: 100% 
  text-transform: none 
  text-align: left 
  margin-bottom: 4px 
  border-radius: 3px 
  font-size: 16px 
  @media only screen and (max-width: 1024px)
    border: 1px solid transparent
    cursor: pointer
    margin: 0px
    padding: 23px 0
    text-transform: uppercase
    text-align: center
    font-size: 14px  
    border: 1px solid #e7e7e7
    border-radius: 0px 

.dl-grid-block 
  width: 20% 
  max-width: 242px 
  height: auto
  transition: top .3s ease-in-out
  @media only screen and (max-width: 1024px)
    width: 100%
    padding: 0
    max-width: 100%
    top: 0px
    z-index: 2
    height: 100%
    position: sticky
  
.dl-grid-block2 
  width: 75% 
  @media only screen and (max-width: 1024px)
    width: 100% 
 
// секции с пунктами
.dl-section 
  display: block
  padding-top: 37px
  
.dl-section:first-child
  padding-top: 0px
  @media only screen and (max-width: 1024px)
    padding-top: 37px
  
 
.dl-section-title 
  text-transform: uppercase 
  color: #909090 
  font-size: 16px 
  font-weight: 500  
  position: relative
  // margin-top: 50px
  @media only screen and (max-width: 1024px)
    margin-left: 20px
 
.dl-section__info-tabs-item 
  margin-top: 20px  
  border: 1px solid #e7e7e7 
  border-radius: 3px 
  position: relative 
  @media only screen and (max-width: 1024px)
    border-left: none
    border-right: none
    border-bottom: none
    margin-top: 0px
    &:nth-last-child(1)
      border-bottom: 1px solid #e7e7e7 
 
.dl-section__open-btn 
  position: absolute 
  width: 20px 
  height: 20px 
  right: 30px 
  top: 26px 
  padding: 0 
  margin: 0 
  background-color: transparent 
  border: 0  
 
.dl-section__open-btn::before 
  content: "" 
  position: absolute 
  background-color: #333 
  cursor: pointer 
  left: 0 
  top: 9px 
  height: 2px 
  width: 20px 
 
.dl-section__open-btn::after 
  content: "" 
  position: absolute 
  background-color: #333 
  cursor: pointer 
  width: 2px 
  height: 20px 
  left: 9px 
  top: 0px

.dl-section__open-btn__del-after::after
  content: ""
  width: 0px
  height: 0px

.dl-info-tabs-item__title
  flex-wrap: nowrap 
  cursor: pointer 
  display: flex 
  align-items: center 
  padding: 25px 0 25px 40px 
  @media only screen and (max-width: 1024px)
    display: block
    padding: 25px 0 25px 15px

.dl-info-tabs-item__title svg
  @media only screen and (max-width: 1024px)
    display: inline-block

.dl-delivery-padding
  padding: 25px 0 25px 40px 

.dl-payment-return-padding
  padding: 25px 0 25px 24px 

.dl-import-class
  padding-top: 15px
  padding-bottom: 14px 

 
.dl-info-tabs-item__title-name 
  font-size: 18px 
  font-weight: 500 
  text-transform: uppercase 
  margin: 0px 25px 0px 15px 
  letter-spacing: .04em 
  line-height: 27px
  @media only screen and (max-width: 1024px)
    display: inline-block
    margin: 0px 
    width: 80% 
 
.dl-info-tabs-item__title-price-free 
  font-size: 14px 
  color: #359d3f 
  font-weight: 500 
  margin-left: 5px 
  line-height: 21px 
  @media only screen and (max-width: 1024px)
    margin-left: 0px  

.dl-info-tabs-item 
  max-height: 0 
  transition: .3s 
  overflow: hidden 
  padding-left: 40px
  max-width: 780px
  @media only screen and (max-width: 1024px)
    max-width: 100%
 
.dl-open .dl-info-tabs-item 
  max-height: 2000px
  padding: 5px 5px 50px 40px
  @media only screen and (max-width: 1024px)
    padding: 5px 15px 30px  
 
// -------ВНУТРЯНКА БЛОКА
.dl-info-tabs-item__bigger-fz 
  font-size: 18px 
  line-height: 24px 

.dl-top-p-of-text
  margin-top: 30px  
 
.dl-section h3  
  margin-top: 30px 
  color: #444 
  font-weight: 500 
  font-size: 16px 
  
.dl-section ul
  list-style-type: none
  padding-left: 25px

.dl-section li
  margin-bottom: 15px

.dl-point-style-lists li
  position: relative


.dl-point-style-lists li::before
  content: ""
  position: absolute
  display: inline-block
  width: 6px
  height: 6px
  border-radius: 50%
  background-color: #e7e7e7
  left: -25px
  top: 7px
  margin-right: 20px
  margin-bottom: 3px

.dl-numbers-list
  padding-left: 15px

.dl-link--pseudo
  display: inline
  text-decoration: none
  padding: 0
  border-top: 0
  border-right: 0
  border-bottom: .11em dotted #3e77aa
  border-left: 0
  color: #3e77aa

.dl-info-tabs-item__subtitle 
  font-size: 14px
  color: #909090
  margin: 5px 0px 0px
  display: inline-block
  line-height: 21px
  max-width: 650px

.dl-left-space
  // padding-left: 25px
  margin-bottom: 0px
  display: block
  
// 26.07.2021  
.dl-fz-small
  font-size: 14px
  font-weight: 500

.dl-info-tabs-item__tire
  margin: 0 10px
  color: #909090

.dl-info-tabs-item__title-price-block
  transform: translateY(-2px)
  width: auto
  // min-width: 400px
  @media only screen and (max-width: 1024px)
    margin-top: 15px
    display: contents 

.dl-info-tabs-item__title-price-block p  
  margin: 2px 0px

.dl-adaptive-block
  @media only screen and (max-width: 1024px)
    display: block
    margin-top: 15px

.dl-list-options
  margin: 15px 0px 30px

.dl-subtitle-color
  color: #909090
  margin-bottom: -12px


.dl-anchor 
  display: block
  position: relative
  top: -20px
  visibility: hidden
  @media only screen and (max-width: 1024px)
    top: -150px

.indent-up-zero
  margin-top: 0px

.indent-down-zero
  margin-bottom: 0px  